@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{

    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: #182747;
color: white;
padding: 0 100px;
overflow-x: hidden;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
display: flex;
justify-content: space-between;
padding-top: 40px;
align-items: center;
}
nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
nav ul li{
    transition: all 0.5s;
}
nav ul li:hover{
    color: aqua;
    cursor: pointer;
    text-shadow: 2px 2px 30px #2406e7;
    transition: all 0.5s;
}
nav h1{
font-size: 35px;
}
nav button{
padding: 10px 20px; 
font-size: 15px;
border-radius: 60px;
background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.button:hover{
    background-image: linear-gradient(43deg,#FFCC70 0%, #a34954 46%, #5a81f4 100%);
}
.hero{
    margin-top: 100px;
    display: flex;
}
.slogan{
width: 700px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.slogan h1{
    font-size: 90px;
    line-height: 90px;
}
.slogan h1 span{
    color: rgb(9, 17, 246);
}
.desc{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.desc button{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);    
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}
.desc button:hover{
    background-image: linear-gradient(43deg, #FFCC70 0%, #ec98e6 46%, #4158D0 100%);     
}
.hero img{
    width: 600px;
    justify-content: space-between;
    height: 450px;
}



.markalar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}





.drops{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.drops h1{
    font-size: 40px;
}
.drops ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.drops ul li{
    background-color: gray;
    border-radius: 40px;
    padding: 15px;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 980px;
    min-width: 550px;
    min-height: 500px;
    margin-left: auto;
    justify-content: space-between;
}



.card{
    background-color: white;
    border-radius: 15px;
    color: #182747;
display: flex;
flex-direction: column;
width: 260px;
padding: 20px;
margin-top: 5px;
}

.card img{
width: 300px;
width: 100%;
}
.value{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.left{
    display: flex;
    align-items: center;
    gap: 10px;    
}
.left img{
    width: 24px;
}
.left p{
    color: aqua;
}
.time{
display: flex;
justify-content: space-between;
margin-top: 20px;

}
.time p{
background-color: gainsboro;
color: aquamarine;
padding: 6px;
border-radius: 20px;
font-weight: 600;
}
.time button{
    background-color: white;
    border: none;
    color: aqua;
    font-weight: 600;
    border-radius: 13px;
    transition: all 0.5s;
}
.time button:hover{
    background-color: #299cea;
    color: aliceblue;
    transition: all 0.5s;
}
.reklam{
    margin: -120px;
    width: 125vw;
    min-height: 150px;
    background-color: #299cea;
    margin-top: 200px;
    font-size: 126px;
    line-height: 146px;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 25px;
    font-weight: 800;
    white-space: nowrap;
    transform: rotate(-6deg);
    text-shadow: 2px 2px 39px wheat;
}



.infos1{
    margin-top: 300px;
    min-width: 600px;
    min-height: 600px;
}
.infos1 h1{
font-size: 40px;
}
.info1{
display: flex;
gap: 20px;
justify-content: space-between;
}
.info2{
min-width: 200px;
max-width: 500px;
min-height: 200px;
background-color: #7427c7c6;
border-radius: 10px;
display: flex;
flex-direction: column;
padding: 10px;
}
.info2 img{
    width: 35px;

}
.info2 h1{
    font-size: 30px;
    margin-top: 50px;
}
.son{
    max-width: 900px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 150px;
}
.son p{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
}
.son h1{
    font-size: 40px;
}
